<div class="d-flex flex-row justify-content-around" style="
    background: center / cover no-repeat
      url(../../../assets/img/abstract_wallpaper.jpg);
    width: 100%;
    height: 100%;
  ">
	<div class="d-flex flex-column justify-content-center" style="max-width: 500px; color: white; width: fit-content">
		<h1 style="font-size: 52px; font-weight: 700; line-height: 64px">
			Profitez d'une nouvelle source de revenus
		</h1>
		<p>
			La plateforme internationale d'Uber vous offre la flexibilité, la
			visibilité et les données nécessaires pour vous mettre en relation avec
			davantage de clients. Devenez partenaire dès aujourd'hui.
		</p>
	</div>

	<div class="d-flex flex-column justify-content-around signup gap-4">
		<div>
			<h3>Lancez-vous</h3>
			<a style="text-decoration: underline; cursor: pointer; color: black" routerLink="/sign-in">Vous avez déjà un
				compte</a>
		</div>

		<form [formGroup]="partnerForm" class="d-flex flex-column" style="width: 40em" (submit)="submit()">
			<mat-form-field>
				<mat-label>Adresse</mat-label>
				<input matInput placeholder="Votre adresse" formControlName="address" [matAutocomplete]="auto" />
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let suggestion of suggestedAddresses" [value]="suggestion">
						{{ suggestion }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<input type="text" (input)="onAddressChange()" #addressText />
			<mat-form-field>
				<mat-label>Nom du restaurant</mat-label>
				<input matInput placeholder="Nom du restaurant" formControlName="restaurantName" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Prénom</mat-label>
				<input matInput placeholder="Votre prénom" formControlName="firstName" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Nom</mat-label>
				<input matInput placeholder="Votre nom" formControlName="lastName" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" placeholder="Votre adresse email" formControlName="email" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Mot de passe</mat-label>
				<input matInput type="password" placeholder="Votre mot de passe" formControlName="password" required />
			</mat-form-field>

			<mat-form-field class="d-flex">
				<mat-label>Numéro de portable</mat-label>
				<input matInput placeholder="Votre numéro de portable" formControlName="phone" required />
			</mat-form-field>
		</form>

		<button mat-raised-button type="submit" class="w-100 align-self-end"
			style="height: 3em; background-color: #000; color: #fff">
			S'inscrire
		</button>
	</div>
</div>