* {
	margin: 0!important;
	padding: 0!important;
	box-sizing: border-box!important;
}

#body {
	background: url("../../../assets/img/background.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100vw;
}
