img {
	height: 330px;
}

.link {
	color: black!important;
	text-decoration: underline!important;
}

a {
	cursor: pointer;
	max-width: 595px;
}

.carouselTitle {
	font-weight: 700; 
	font-size: 28px;
	margin-top: 0.5em;
}