<div class="d-flex flex-row align-self-center gap-5">
	<a>
		<img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/88d55f7112efe55f.webp" alt="" srcset="">
		<h3 class="carouselTitle">Aidez vos collaborateurs à se restaurer</h3>
		<a class="link">Créez un compte professionnel</a>
	</a>
	<a>
		<img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/711d51ca1b458931.webp" alt="" srcset="">
		<h3 class="carouselTitle">Les plats de vos restaurants préférés, livrés chez vous</h3>
		<a class="link">Ajoutez votre restaurant</a>
	</a>
	<a>
		<img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/16522a701585873b.webp" alt="" srcset="">
		<h3 class="carouselTitle">Livrez avec Uber Eats</h3>
		<a class="link">Devenez coursier-partenaire</a>
	</a>
</div>