<div class="d-flex flex-row align-items-center p-3 justify-content-between" style="background-color: white">
	<div class="d-flex flex-row align-items-center gap-2">
		<button mat-icon-button class="d-flex justify-content-center align-items-center" (click)="openNav()">
			<svg aria-hidden="true" focusable="false" viewBox="0 0 20 20" class="cm cn co cp">
				<path d="M19.167 3.333H.833v2.5h18.334v-2.5zm0 5.834H.833v2.5h18.334v-2.5zM.833 15h18.334v2.5H.833V15z">
				</path>
			</svg>
		</button>
		<a routerLink="/" style="text-decoration: none; color: black;">
			<h3 style="margin: 0; padding: 0; font-family: 'Uber Move Text';">Uber <b>Eats</b></h3>
		</a>
	</div>
	<div class="d-flex flex-row align-items-center gap-2" style="margin-right: 1.8em;" *ngIf="!isLogged else logged">
		<button class="pill white" routerLink="/sign-in">
			<i class="fas fa-user" style="margin-right: 0.5em;"></i>
			Connexion
		</button>
		<button class="pill black" routerLink="/sign-up">Inscription</button>
	</div>
	<ng-template #logged>
		<div class="d-flex flex-row align-items-center gap-2">
			<button class="pill white" routerLink="/profile">
				<i class="fas fa-user" style="margin-right: 0.5em;"></i>
				Profil
			</button>
			<button class="pill black">Déconnexion</button>
		</div>
	</ng-template>
</div>