<div class="p-3">
<h3 style="font-size: 56px; font-family: 'Uber Move'; font-weight: 700; margin-bottom: 1em;">Vos plats préférés, directement à votre porte</h3>
<form class="example-form d-flex flex-row gap-2">
  <mat-form-field style="width: 40em;">
    <mat-label>Saisissez l'adresse de livraison.</mat-label>
    <mat-icon matPrefix>place</mat-icon>
    <input type="tel" matInput />
  </mat-form-field>
  <mat-form-field style="width: 16em; font-weight: 400;">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option><mat-icon>watch_later</mat-icon>Livrer maintenant</mat-option>
      <mat-option><mat-icon>calendar_today</mat-icon>Planifier pour plus tard</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button style="background-color: black!important; color: white; height: 3.48em;">Trouver des restaurants</button>
</form>
</div>
